<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" id="text" placeholder="Add task" [(ngModel)]="text">
  </div>
  <div class="form-control">
    <label for="day">Day & Time</label>
    <input type="text" name="day" id="day" placeholder="Add day & time" [(ngModel)]="day">
  </div>
  <div class="form-control form-control-check">
    <label for="reminder">Set reminder</label>
    <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder">
  </div>
  <input type="submit" value="Save task" class="btn btn-block">
</form>
